<% click_edit = (action == "update" or action == "create") ? 'js-clickEdit' : '' %>
<section class="product-page grid <%= click_edit %>" data-action="<%= action %>" data-product-id="<%= id ||= '' %>">
	
	<div class="slider">
		<%= render partial: "partials/carousel", locals: {images: @images ||= [], path: "product_images"} %>
	</div>

	<div class="copy">
		<h1 class="name js-editor" data-edit="name">
			<%= @product.name || "Product Name" %>
		</h1>

		<div class="price cf">
			<span class="dollar">$</span>
			<p class="amount js-editor" data-edit="price">
				<%= @product.price || "0" %>
			</p>
			</div>

		<div class="add-cart cf">

			<div class="quantity">
				<%= react_component('QuantityBox') %>
			</div>
			<div class="add-cart-btn">
				<%= button_tag "Add to Cart", class:'btn wide js-add-cart' %>
			</div>

		</div>

	</div>

	<div class="description js-wysiwyg" data-edit="description">
		<%= @product.description? ? @product.description.html_safe : "Product Description" %>
	</div>

<% if user_signed_in? %> <!-- make admin check -->
	<% if action == "create" %>
		<button class="btn js-save">Create Product</button>
	<% elsif action == "update" %>
		<button class="btn js-save">Update Product</button>
	<% end %>

	<!-- Button trigger modal -->
	<button type="button" class="btn" data-toggle="modal" data-target="#myModal">
	  Launch demo modal
	</button>
<% end %>

<%= render partial: "partials/modal"%>

</section>