<h1>All orders</h1>

<% if @orders.any? %>
	
	<ul>
		<% @orders.each do |order| %>
			<li>
				<%= order.user.email %>:
				<% order.order_items.each do |item| %>
					<ol><%= item.product.name %> | Q:<%= item.quantity %> | #:<%= order.confirmation %> | closed:<%= order.closed %></ol>
				<% end %>
			</li>
		<% end %>
	</ul>

<% else %>
	<p>No orders made yet!</p>
<% end %>